<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>CSScape Room</title>

  <link rel="stylesheet" href="/styles/vars.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/east.css">
  <link rel="stylesheet" href="/styles/items.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/navigation.css">
  <link rel="stylesheet" href="/styles/north.css">
  <link rel="stylesheet" href="/styles/over.css">
  <link rel="stylesheet" href="/styles/south.css">
  <link rel="stylesheet" href="/styles/title.css">
  <link rel="stylesheet" href="/styles/vent.css">
  <link rel="stylesheet" href="/styles/west.css">
</head>

<body>
  <main id="game">
    {% include "navigation.njk" %}

    <div id="room">
      <div id="sourth-wall-clue">4 PINK</div>
      <div id="shade"></div>

      {% include "title.njk" %}
      {% include "north.njk" %}
      {% include "east.njk" %}
      {% include "south.njk" %}
      {% include "west.njk" %}
      {% include "over.njk" %}
    </div>

    {% include "items.njk" %}
  </main>

  <div id="toosmall">
    Sorry, but you’re browser window is too small to play this game. Try resizing it!
  </div>

  <div id="touchdevice">
    Sorry, but it appears you’re using a touch device. Please try playing this game on desktop with a mouse.
  </div>
</body>
</html>
