<fieldset id="items">
  <input type="radio" name="equip" id="equip-nothing" tabindex="-1" checked>
  <label for="equip-nothing">
    {% img "item_hand", "Nothing" %}
  </label>

  <input type="radio" name="equip" id="equip-screwdriver" tabindex="-1">
  <label for="equip-screwdriver">
    {% img "item_screwdriver", "Screwdriver" %}
  </label>

  <input type="radio" name="equip" id="equip-hammer" tabindex="-1">
  <label for="equip-hammer">
    {% img "item_hammer", "Hammer" %}
  </label>

  <input type="radio" name="equip" id="equip-remote" tabindex="-1">
  <label for="equip-remote">
    {% img "item_remote", "Remote control" %}
  </label>

  <input type="radio" name="equip" id="equip-dvd" tabindex="-1">
  <label for="equip-dvd">
    {% img "item_dvd", "DVD" %}
  </label>

  <input type="radio" name="equip" id="equip-uv" tabindex="-1">
  <label for="equip-uv">
    {% img "item_uv", "UV light" %}
  </label>

  <input type="radio" name="equip" id="equip-mondrian" tabindex="-1">
  <label for="equip-mondrian">
    {% img "item_mondrian", "Art piece" %}
  </label>

  <input type="radio" name="equip" id="equip-pencil" tabindex="-1">
  <label for="equip-pencil">
    {% img "item_pencil", "Pencil" %}
  </label>

  <input type="radio" name="equip" id="equip-key" tabindex="-1">
  <label for="equip-key">
    {% img "item_key", "Key" %}
  </label>
</fieldset>
