<nav id="navigation">
  <input type="radio" name="direction" id="nw" tabindex="-1">
  <label for="nw" class="west">
    {% img "arrow_left", "Face west wall" %}
  </label>

  <input type="radio" name="direction" id="ne" tabindex="-1">
  <label for="ne" class="east">
    {% img "arrow_right", "Face east wall" %}
  </label>

  <input type="radio" name="direction" id="ew" tabindex="-1" checked>
  <label for="ew" class="west">
    {% img "arrow_left", "Face north wall" %}
  </label>

  <input type="radio" name="direction" id="ee" tabindex="-1">
  <label for="ee" class="east">
    {% img "arrow_right", "Face south wall" %}
  </label>

  <input type="radio" name="direction" id="sw" tabindex="-1">
  <label for="sw" class="west">
    {% img "arrow_left", "Face east wall" %}
  </label>

  <input type="radio" name="direction" id="se" tabindex="-1">
  <label for="se" class="east">
    {% img "arrow_right", "Face west wall" %}
  </label>

  <input type="radio" name="direction" id="ww" tabindex="-1">
  <label for="ww" class="west">
    {% img "arrow_left", "Face south wall" %}
  </label>

  <input type="radio" name="direction" id="we" tabindex="-1">
  <label for="we" class="east">
    {% img "arrow_right", "Face north wall" %}
  </label>
</nav>
