<section id="over">
  <div>
    <h1>CSScape Room</h1>
    <br>
    <footer>
      Copyright 2025 <a href="https://iamdanielmarino.com" target="_blank">Daniel Marino</a>
      <br>
      Licensed by <a href="https://brandunino.com" target="_blank">Brandunino of America</a>
    </footer>
  </div>
</section>
