<section id="over">
  <div>
    {% img "title" %}

    <footer>
      Copyright 2025 <a href="https://iamdanielmarino.com" target="_blank">Daniel Marino</a>
      <br>
      Licensed by <a href="https://brandunino.com" target="_blank">Brandunino of America</a>
      <br>
      <a href="https://iamdanielmarino.com/posts/making-an-escape-room-with-only-html-and-css/">Read about the making of CSScape Room</a>
    </footer>
  </div>
</section>
