<section id="title">
  <div>
    {% img "title" %}

    <input type="checkbox" id="start" tabindex="-1">
    <label for="start">START GAME</label>

    <footer>
      Copyright 2025 <a href="https://iamdanielmarino.com" target="_blank">Daniel Marino</a>
      <br>
      Licensed by <a href="https://brandunino.com" target="_blank">Brandunino of America</a>
    </footer>
  </div>
</section>
