<section id="west">
  <input type="checkbox" id="poster" tabindex="-1">
  <label for="poster">
    {% img "west_poster" %}
  </label>

  <button id="west-safe-zoom" popovertarget="west-safe-zoomedin" tabindex="-1">
    <div id="code-small">
      {% for i in range(1, 6) %}
        <div id="code{{i}}-sm" class="code">
          {% for color in colors %}
            <div id="code{{i}}-{{color}}-sm" class="output" style="background: var(--color-{{color}})"></div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    {% img "west_safe" %}
    {% img "west_safe_open" %}
  </button>

  <div id="west-safe-zoomedin" popover>
    <div id="code-large">
      {% for i in range(1, 6) %}
        <div class="code">
          {% for color in colors %}
            <input type="radio" name="code{{i}}" id="code{{i}}-{{color}}-lg" tabindex="-1" {{"checked" if loop.first}}>
            <label for="code{{i}}-{{color}}-lg" style="background: var(--color-{{color}})"></label>
          {% endfor %}
        </div>
      {% endfor%}
    </div>

    {% img "west_safe_zoom" %}

    <input type="checkbox" id="collect-key" tabindex="-1">
    <label for="collect-key">
      {% img "west_key" %}
    </label>
    {% img "west_safe_open_zoom" %}
    <button popovertarget="west-safe-zoomedin" popovertargetaction="hide" tabindex="-1">Back to room</button>
  </div>

  <div id="screen">
    {% img "west_static" %}
    {% img "west_one" %}

    <input type="checkbox" id="tv" tabindex="-1">
    <label for="tv"></label>
  </div>

  <div id="stereo">
    {% img "west_dvd_player" %}

    <input type="checkbox" id="dvd" tabindex="-1">
    <label for="dvd"></label>
  </div>

  <button popovertarget="tv-left-drawer" tabindex="-1" aria-label="bottom left tv stand drawer"></button>
  <button popovertarget="tv-right-drawer" tabindex="-1" aria-label="bottom right tv stand drawer"></button>

  <div id="tv-left-drawer" popover>
    <input type="checkbox" id="collect-mondrian" tabindex="-1">
    <label for="collect-mondrian">
      {% img "west_mondrian" %}
    </label>

    <button popovertarget="tv-left-drawer" popovertargetaction="hide" tabindex="-1">Close drawer</button>
    {% img "open_drawer_bottom_left" %}
  </div>

  <div id="tv-right-drawer" popover>
    <button popovertarget="tv-right-drawer" popovertargetaction="hide" tabindex="-1">Close drawer</button>
    {% img "open_drawer_bottom_right" %}
  </div>

  {% img "west" %}
</section>
