@font-face {
  font-family: "Pixelify Sans";
  src: url("../font/PixelifySans-VariableFont_wght.ttf")
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  image-rendering: pixelated
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none
}

body {
  background: var(--color-midnight);
  color: #fff;
  display: grid;
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: none;
  font-weight: 400;
  min-height: 100vh;
  overscroll-behavior: none;
  place-items: center;
  text-rendering: geometricPrecision;

  :has(#equip-nothing:checked) & {
    cursor: url(../images/item_hand.png), auto;
  }

  :has(#equip-dvd:checked) & {
    cursor: url(../images/item_dvd.png), auto;
  }

  :has(#equip-hammer:checked) & {
    cursor: url(../images/item_hammer.png), auto;
  }

  :has(#equip-key:checked) & {
    cursor: url(../images/item_key.png), auto;
  }

  :has(#equip-pencil:checked) & {
    cursor: url(../images/item_pencil.png), auto;
  }

  :has(#equip-mondrian:checked) & {
    cursor: url(../images/item_mondrian.png), auto;
  }

  :has(#equip-remote:checked) & {
    cursor: url(../images/item_remote.png), auto;
  }

  :has(#equip-screwdriver:checked) & {
    cursor: url(../images/item_screwdriver.png), auto;
  }

  :has(#equip-uv:checked) & {
    cursor: url(../images/item_uv.png), auto;
  }

  :has(#equip-uv:checked):has(#light-off:checked) & {
    cursor: url(../images/item_uv_on.png), auto;
  }
}

section {
  inset: 0;
  position: absolute;
  z-index: 1
}

img {
  display: block
}

button,
input {
  background: 0 0;
  border: 0;
  cursor: inherit;
  font-family: inherit;
  padding: 0;

  &:focus {
    outline: 0;
  }
}

label {
  cursor: inherit;
  position: absolute;
}

input[type=checkbox],
input[type=radio] {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

[popover] {
  border: 0;
  margin: auto;
  overflow: visible;
  top: -56px;

  @media (width > 960px) and (height > 678px) {
    transform: scale(1.5);
  }

  @media (width > 1280px) and (height > 904px) {
    transform: scale(2);
  }

  &::backdrop {
    background: var(--color-midnight);
  }
}

[popovertargetaction=hide] {
  bottom: -16px !important;
  color: #fff !important;
  display: block !important;
  font-size: 24px !important;
  height: revert !important;
  left: 50% !important;
  position: absolute !important;
  top: revert !important;
  translate: -50% 100% !important;
  width: revert !important
}

@keyframes frameCycle {
  to {
    translate: -100%
  }
}

#five {
  background: var(--color-yellow);
  color: var(--color-midnight)
}

#five-a11y {
  display: none
}
