#items {
  border: 0;
  gap: 4px;
  margin-top: 4px;

  label {
    display: none;
    height: 48px;
    place-content: center;
    position: revert;
    width: 48px;
  }

  :has(#start:checked) & {
    display: flex;
  }
}

:has(#equip-nothing:checked) [for=equip-nothing],
:has(#equip-dvd:checked) [for=equip-dvd],
:has(#equip-hammer:checked) [for=equip-hammer],
:has(#equip-key:checked) [for=equip-key],
:has(#equip-pencil:checked) [for=equip-pencil],
:has(#equip-mondrian:checked) [for=equip-mondrian],
:has(#equip-remote:checked) [for=equip-remote],
:has(#equip-screwdriver:checked) [for=equip-screwdriver],
:has(#equip-uv:checked) [for=equip-uv] {
  background: var(--color-chocolate)
}

:has(#collect-dvd:checked) [for=equip-dvd],
:has(#collect-hammer:checked) [for=equip-hammer],
:has(#collect-key:checked) [for=equip-key],
:has(#collect-pencil:checked) [for=equip-pencil],
:has(#collect-mondrian:checked) [for=equip-mondrian],
:has(#collect-remote:checked) [for=equip-remote],
:has(#collect-screwdriver:checked) [for=equip-screwdriver],
:has(#collect-uv:checked) [for=equip-uv],
[for=equip-nothing] {
  display: grid !important
}
