#game {
  display: none;
  position: relative;

  @media (width > 768px) and (height > 500px) {
    display: grid;
  }

  @media (width > 960px) and (height > 678px) {
    transform: scale(1.5);
  }

  @media (width > 1280px) and (height > 904px) {
    transform: scale(2);
  }
}

#room {
  color: var(--color-midnight);
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 640px;
  z-index: 1;
}

#shade {
  background: var(--color-midnight);
  display: none;
  inset: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
  position: absolute;
  z-index: 9999;

  :has(#light-off:checked) & {
    display: block;
  }
}

#toosmall,
#touchdevice {
  background: var(--color-midnight);
  font-size: 24px;
  inset: 0;
  padding: 24px;
  place-content: center;
  position: absolute;
  z-index: calc(infinity);
}

#toosmall {
  @media (width > 768px) and (height > 500px) {
    display: none;
  }
}

#touchdevice {
  @media (pointer: fine) {
    display: none;
  }
}
