#over {
  background: var(--color-midnight);
  color: #fff;
  display: none;
  font-size: 24px;
  place-items: center;
  text-align: center;
  transition: all 2s 1s linear;
  z-index: calc(infinity);

  @starting-style {
    inset: 96px 248px 48px;
  }

  :has(#unlock:checked) & {
    display: grid;
  }

  > * {
    transition: opacity 0.3s 3.25s;

    @starting-style {
      opacity: 0;
    }
  }

  img {
    margin: 0 auto 32px;
  }

  a {
    color: inherit;
    cursor: inherit;
    position: relative;
    text-decoration: none;

    &:hover {
      top: 1px;
    }
  }
}
