#title {
  background: var(--color-midnight);
  color: #fff;
  display: grid;
  font-size: 24px;
  place-items: center;
  text-align: center;
  z-index: calc(infinity);

  a {
    color: inherit;
    text-decoration: none;
  }

  [for="start"] {
    background: var(--color-green);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 1rem;
    position: relative;
    text-shadow: 0 1px 0 var(--color-midnight);

    &:hover {
      top: 1px;
    }
  }

  :has(#start:checked) & {
    display: none;
  }
}
