:root {
  --color-aqua: #5fcde4;
  --color-blue: #5b6ee1;
  --color-chocolate: #45283c;
  --color-green: #37946e;
  --color-lime: #99e550;
  --color-midnight: #222034;
  --color-olive: #8a6f30;
  --color-orange: #df7126;
  --color-pink: #d77bba;
  --color-purple: #76428a;
  --color-red: #ac3232;
  --color-silver: #cbdbfc;
  --color-yellow: #fbf336
}
