[for=poster] {
  left: 447px;
  height: 170px;
  overflow: hidden;
  top: 75px;
  width: 136px;
  z-index: 1;

  :has(#poster:checked) & {
    display: none;
  }
}

#image_west_poster {
  :has(#fan-on:checked) & {
    animation: frameCycle steps(4) .2s infinite alternate;
  }
}

#screen {
  height: 173px;
  left: 77px;
  overflow: hidden;
  position: absolute;
  top: 107px;
  width: 312px;
  z-index: 1;

  :has(#tv:checked):has(#dvd:checked) & {
    background: var(--color-blue);
  }
}

[for=tv] {
  display: none;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  :has(#equip-remote:checked) & {
    display: block;
  }
}

#image_west_static {
  display: none;

  :has(#tv:checked) & {
    animation: frameCycle steps(3) .3s infinite;
    display: block;
  }

  :has(#dvd:checked) & {
    display: none;
  }
}

#image_west_one {
  display: none;

  :has(#tv:checked):has(#dvd:checked) & {
    animation: one 10s infinite linear;
    display: block;
  }

}

@keyframes one {
  0% {
    translate: 119px
  }

  25% {
    translate: 0 48px
  }

  50% {
    translate: 100px 149px
  }

  75% {
    translate: 256px 87px
  }

  100% {
    translate: 119px
  }
}

#stereo {
  height: 29px;
  left: 192px;
  overflow: hidden;
  position: absolute;
  top: 326px;
  width: 80px
}

[for=dvd] {
  display: none;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  :has(#equip-dvd:checked) & {
    display: block;
  }
}

#image_west_dvd_player {
  :has(#dvd:checked) & {
    animation: frameCycle steps(8) .6s infinite alternate;
  }
}

[popovertarget=tv-left-drawer] {
  height: 39px;
  left: 96px;
  position: absolute;
  top: 320px;
  width: 60px
}

[popovertarget=tv-right-drawer] {
  height: 39px;
  left: 308px;
  position: absolute;
  top: 320px;
  width: 60px
}

[for=collect-mondrian] {
  left: 200px;
  top: 196px;

  :has(#collect-mondrian:checked) & {
    display: none;
  }
}

[popovertarget=west-safe-zoomedin] {
  display: grid;
  left: 467px;
  position: absolute;
  top: 120px
}

#code-small,
#code-large {
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;

  .code {
    border: 1px solid var(--color-midnight);
    position: relative;
  }
}

#code-small {
  gap: 2px;
  grid-template-columns: repeat(5, 8px);

  .code {
    height: 8px;
  }

  .output {
    inset: 0;
    position: absolute;
    z-index: 1;
  }
}

#code-large {
  gap: 6px;
  grid-template-columns: repeat(5, 32px);

  label {
    inset: 0;
    position: absolute;
    z-index: 1;
  }

  input:checked + label {
    pointer-events: none;
    z-index: 3;
  }

  input:checked + label + input + label,
  :has(input:last-of-type:checked) label:first-of-type {
    z-index: 2;
  }

  .code {
    height: 32px;
  }
}

:has(#code1-red-lg:checked) #code1-red-sm,
:has(#code1-orange-lg:checked) #code1-orange-sm,
:has(#code1-yellow-lg:checked) #code1-yellow-sm,
:has(#code1-lime-lg:checked) #code1-lime-sm,
:has(#code1-green-lg:checked) #code1-green-sm,
:has(#code1-olive-lg:checked) #code1-olive-sm,
:has(#code1-aqua-lg:checked) #code1-aqua-sm,
:has(#code1-blue-lg:checked) #code1-blue-sm,
:has(#code1-purple-lg:checked) #code1-purple-sm,
:has(#code1-pink-lg:checked) #code1-pink-sm,
:has(#code2-red-lg:checked) #code2-red-sm,
:has(#code2-orange-lg:checked) #code2-orange-sm,
:has(#code2-yellow-lg:checked) #code2-yellow-sm,
:has(#code2-lime-lg:checked) #code2-lime-sm,
:has(#code2-green-lg:checked) #code2-green-sm,
:has(#code2-olive-lg:checked) #code2-olive-sm,
:has(#code2-aqua-lg:checked) #code2-aqua-sm,
:has(#code2-blue-lg:checked) #code2-blue-sm,
:has(#code2-purple-lg:checked) #code2-purple-sm,
:has(#code2-pink-lg:checked) #code2-pink-sm,
:has(#code3-red-lg:checked) #code3-red-sm,
:has(#code3-orange-lg:checked) #code3-orange-sm,
:has(#code3-yellow-lg:checked) #code3-yellow-sm,
:has(#code3-lime-lg:checked) #code3-lime-sm,
:has(#code3-green-lg:checked) #code3-green-sm,
:has(#code3-olive-lg:checked) #code3-olive-sm,
:has(#code3-aqua-lg:checked) #code3-aqua-sm,
:has(#code3-blue-lg:checked) #code3-blue-sm,
:has(#code3-purple-lg:checked) #code3-purple-sm,
:has(#code3-pink-lg:checked) #code3-pink-sm,
:has(#code4-red-lg:checked) #code4-red-sm,
:has(#code4-orange-lg:checked) #code4-orange-sm,
:has(#code4-yellow-lg:checked) #code4-yellow-sm,
:has(#code4-lime-lg:checked) #code4-lime-sm,
:has(#code4-green-lg:checked) #code4-green-sm,
:has(#code4-olive-lg:checked) #code4-olive-sm,
:has(#code4-aqua-lg:checked) #code4-aqua-sm,
:has(#code4-blue-lg:checked) #code4-blue-sm,
:has(#code4-purple-lg:checked) #code4-purple-sm,
:has(#code4-pink-lg:checked) #code4-pink-sm,
:has(#code5-red-lg:checked) #code5-red-sm,
:has(#code5-orange-lg:checked) #code5-orange-sm,
:has(#code5-yellow-lg:checked) #code5-yellow-sm,
:has(#code5-lime-lg:checked) #code5-lime-sm,
:has(#code5-green-lg:checked) #code5-green-sm,
:has(#code5-olive-lg:checked) #code5-olive-sm,
:has(#code5-aqua-lg:checked) #code5-aqua-sm,
:has(#code5-blue-lg:checked) #code5-blue-sm,
:has(#code5-purple-lg:checked) #code5-purple-sm,
:has(#code5-pink-lg:checked) #code5-pink-sm {
  z-index: 2;
}



#image_west_safe_open,
#image_west_safe_open_zoom {
  display: none
}

#image_west_safe_open,
#image_west_safe_open_zoom,
[for=collect-key] {
  display: none;
}

[popovertarget=west-safe-zoomedin] {
  left: 468px;
  top: 119px;

  /* checked
  left: 451px;
  top: 117px;
   */
}
